extends ../_template

block variables
	- var title = "About page"

block content
		section.section.hero
			.hero__bg
			include ../common/socialsUp
			a(href="./").hero__hamburger.hamburger
				svg.svg.hamburger__svg
					use(xlink:href="assets/img/sprite.svg#hamburger")
			a(href="./").hero__down-arrow.down-arrow
				svg.svg.down-arrow__svg
					use(xlink:href="assets/img/sprite.svg#arrow_down")
			.hero__title
				img(src='assets/img/portfolio_header.png').section-title
				.user.hero__user-block
					.user__photo
						img(src="assets/img/my-photo-circle.png").hero-img
					.user__name
						|Владислав Пивоваров
					.user__desc
						|Личный сайт веб разработчика
		section.section.about
			.about__left
				svg(viewBox="0 0 590 109" preserveAspectRatio="none").triangle.about__triangle.triangle_fill_white
					polygon(points="0,0 590,109 0,109 0,0")
				+title("Обо мне", 'about-header.png', "about__section-title")
				.about-user
					.about-user__picture
						img(src="./assets/img/my-photo.png").about-img
					.about-user__title
						.subtitle
							| Кто я
					.about-user__text
						p= about.who1
						p= about.who2
			.about__right
				svg(viewBox="0 0 590 109" preserveAspectRatio="none").triangle.about__triangle.triangle_fill_beige
					polygon(points="0,109 590,0 590,109 0,109")
				.about-data
					.about-data__description
						.subtitle.about-data__title
							|Чем я могу быть вам полезен
						.about-data__text
							p= about.data
					.about-data__content
						ul.skills
							each skillBlock in skills
								li.skills__block
									each skillGroup, skillTitle in skillBlock
										h3.skills__title= skillTitle
										ul.skills__list
											each skill in skillGroup
												li.skill
													b.skill__name= skill
													svg(viewBox="0 0 110 110").skill__circle
														circle(r="45" cx="55" cy="55").skill__circle-one
														circle(r="45" cx="55" cy="55").skill__circle-two
		section.section.map
			img(src="assets/img/map_marker.jpg").map__img
			.contacts.map__contacts
				.subtitle.contacts__subtitle Контакты
				ul.contacts__contact-list
					- for(var i = 0; i < 4; i++)
							li.contacts__contact-item
								svg.contact-svg
									use(xlink:href=`assets/img/sprite.svg#${contacts.icon[i]}`)
								.contact-info= contacts.contact[i]

			include ../common/footer


